.bosky4 {
  margin: 0;
  height: 61px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-45xl);
  font-family: var(--heading-24px-bold);
}
.image-9-icon3 {
  width: 74px;
  height: 57px;
  position: relative;
  object-fit: cover;
}
.image-frame {
  align-self: stretch;
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.home3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;
}
.contact-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xs);
}
.contact9 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.sign-up-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 0 0;
}
.about3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.frame-d {
  height: 63px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-135xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sign-up3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.frame-f {
  width: 221px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.what-are-you3 {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--title-16px-regular);
  font-size: var(--title-12px-medium-size);
  background-color: transparent;
  height: 18px;
  flex: 1;
  position: relative;
  line-height: 18px;
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 92px;
  white-space: nowrap;
}
.component-2-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-component-set3,
.vector-vector {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vector-vector {
  flex: 1;
  justify-content: flex-start;
  gap: 0 34px;
}
.search-component-set3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  justify-content: flex-end;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.whatareyoulookingfor-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0;
}
.vector-icon3 {
  width: 20px;
  height: 17.8px;
  position: relative;
}
.vector-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.cart1-with-buy2 {
  height: 32px;
  width: 32px;
  position: relative;
}
.frame-b-wrapper,
.frame-b3 {
  display: flex;
  align-items: flex-start;
}
.frame-b3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-b-wrapper {
  width: 78px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.user-icon2 {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: var(--br-28xl);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-c1,
.search-component {
  display: flex;
  justify-content: flex-start;
}
.frame-c1 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.search-component {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 26px;
}
.frame-b2,
.r-s-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.r-s-frame {
  width: 418px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.frame-b2 {
  margin: 0;
  width: 1808px;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--button);
  font-family: var(--title-16px-regular);
}
.frame-a1,
.header-section-child {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-a1 {
  width: 1921px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
}
.header-section-child {
  height: 1px;
  flex: 1;
  position: relative;
  border-top: 1px solid var(--button);
}
.header-section {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.price,
.product,
.quantity,
.subtotal {
  position: relative;
  line-height: 24px;
}
.cart-main-section,
.product-price {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.product-price {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cart-main-section {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--primary);
  box-shadow: var(--categogy-5);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 39px var(--padding-5xl) var(--padding-21xl);
  box-sizing: border-box;
}
.div2,
.div3 {
  height: 24px;
  width: 41px;
  display: none;
  white-space: nowrap;
}
.cart-main-section1,
.div2,
.div3 {
  position: relative;
  line-height: 24px;
}
.drop-up-small-icon {
  object-fit: contain;
}
.drop-down-small-icon,
.drop-up-small-icon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cart-section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-main-section-parent,
.quantity1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-main-section-parent {
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  gap: 0 16px;
}
.quantity1 {
  height: 47px;
  width: 75px;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--color-gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-7xs);
}
.g27cq4-500x500-1-icon {
  position: absolute;
  height: 72.22%;
  width: 92.59%;
  top: 14.81%;
  right: 3.7%;
  bottom: 12.96%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.monitor-cart-small {
  height: 54px;
  width: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-cancel,
.lcd-monitor,
.monitor-cart-small {
  position: relative;
  display: none;
}
.lcd-monitor {
  width: 96px;
  line-height: 24px;
}
.icon-cancel {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.cart-section {
  height: 102px;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--primary);
  box-shadow: var(--categogy-5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xl) var(--padding-369xl);
  box-sizing: border-box;
  max-width: 100%;
}
.dope-suede-right-1024x-1-icon1 {
  height: calc(100% - 26px);
  width: 82px;
  position: absolute;
  margin: 0 !important;
  top: 12px;
  bottom: 14px;
  left: 40px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.drop-up-small,
.rs1350001 {
  position: absolute;
  margin: 0 !important;
  bottom: 33px;
  line-height: 24px;
  z-index: 1;
}
.rs1350001 {
  left: 387px;
}
.drop-up-small {
  right: 39px;
}
.r-s-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
.cart-section-instance,
.frame-d1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-section-instance {
  width: 1170px;
  flex-direction: column;
  gap: 18px 0;
}
.frame-d1 {
  width: 1367px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-16px-regular);
}
.div4,
.div5 {
  height: 24px;
  width: 41px;
  display: none;
  white-space: nowrap;
}
.cart6,
.div4,
.div5 {
  position: relative;
  line-height: 24px;
}
.drop-up-small-icon1 {
  object-fit: contain;
}
.drop-down-small-icon1,
.drop-up-small-icon1 {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.drop-down-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.drop-up-small1,
.quantity2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.drop-up-small1 {
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
  gap: 0 16px;
}
.quantity2 {
  height: 47px;
  width: 75px;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--color-gray-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-7xs);
}
.g27cq4-500x500-1-icon1 {
  position: absolute;
  height: 72.22%;
  width: 92.59%;
  top: 14.81%;
  right: 3.7%;
  bottom: 12.96%;
  left: 3.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.monitor-cart-small1 {
  height: 54px;
  width: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-cancel1,
.lcd-monitor1,
.monitor-cart-small1 {
  position: relative;
  display: none;
}
.lcd-monitor1 {
  width: 96px;
  line-height: 24px;
}
.icon-cancel1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.cart-section1 {
  height: 89px;
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--primary);
  box-shadow: var(--categogy-5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-10xl) var(--padding-369xl) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.rs1600001 {
  top: 32px;
  left: 387px;
  line-height: 24px;
}
.bucket-hat-002-front-1-icon1,
.cart-section2,
.rs1600001 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.bucket-hat-002-front-1-icon1 {
  height: calc(100% - 13px);
  width: 82px;
  top: 7px;
  bottom: 6px;
  left: 40px;
  max-height: 100%;
  object-fit: cover;
}
.cart-section2 {
  top: 32px;
  right: 39px;
  line-height: 24px;
}
.cart-main-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
.view-all-products2 {
  position: relative;
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--title-16px-regular);
  color: var(--button);
  text-align: left;
}
.button2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-base) var(--padding-28xl);
  background-color: transparent;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button2:hover,
.button3:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.view-all-products3 {
  position: relative;
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--title-16px-regular);
  color: var(--button);
  text-align: left;
}
.button3,
.subtotal1 {
  display: flex;
  flex-direction: row;
}
.button3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: var(--padding-base) 45px;
  background-color: transparent;
  border-radius: var(--br-9xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.subtotal1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.cart-total-price-label,
.under-line {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-total-price-label {
  overflow-x: auto;
  max-width: 100%;
}
.cart-total {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.quantity3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div6,
.subtotal2 {
  position: relative;
  line-height: 24px;
}
.div6 {
  align-self: stretch;
  width: 44px;
  display: none;
  white-space: nowrap;
}
.frameunderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 307px;
}
.underline-icon9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.free,
.shipping {
  position: relative;
  line-height: 24px;
}
.frameunderline1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.underline-icon10 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.div7,
.total {
  position: relative;
  line-height: 24px;
}
.div7 {
  align-self: stretch;
  width: 44px;
  display: none;
  white-space: nowrap;
}
.frameunderline2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 335px;
}
.view-all-products4 {
  position: relative;
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--title-16px-regular);
  color: var(--button);
  text-align: left;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: #e92222;
  flex: 1;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button4:hover {
  background-color: #ff4747;
}
.cart-total1,
.dopesuederightx1,
.quantity-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.cart-total1 {
  width: 390px;
  flex-direction: row;
  padding: 0 65px;
}
.dopesuederightx1,
.quantity-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 16px 0;
  font-size: var(--title-16px-regular-size);
}
.quantity-parent {
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--button);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-3xl);
  gap: 24px 0;
  font-size: var(--title-20px-medium-size);
}
.div8,
.div9 {
  position: absolute;
  margin: 0 !important;
  right: 24px;
  line-height: 24px;
  z-index: 1;
}
.div8 {
  top: 84px;
}
.div9 {
  bottom: 104px;
}
.cartsection {
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
.view-all-products-button1 {
  width: 556px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.cart-total-price-label-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 37px 0;
  max-width: 100%;
}
.cart-main-section-group,
.dopesuederightx {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-main-section-group {
  width: 1170px;
  flex-direction: column;
  gap: 48px 0;
}
.dopesuederightx {
  width: 1367px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-16px-regular);
}
.exclusive3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.logo4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 0;
}
.subscribe3 {
  position: relative;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--title-16px-regular);
}
.loginregisterlabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px 0;
}
.get-10-off3 {
  position: relative;
  font-size: var(--title-16px-regular-size);
  line-height: 24px;
  font-family: var(--title-16px-regular);
}
.accountlabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px 0;
}
.enter-your-email3 {
  width: 130px;
  border: 0;
  outline: 0;
  font-family: var(--title-16px-regular);
  font-size: var(--title-16px-regular-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
}
.icon-send3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frameexclusive,
.send-mail3 {
  display: flex;
  align-items: flex-start;
}
.send-mail3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--text);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-xs)
    var(--padding-sm);
  gap: var(--gap-xl);
}
.frameexclusive {
  width: 217px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px 0;
  min-width: 217px;
  font-size: var(--heading-24px-bold-size);
  font-family: var(--heading-24px-bold);
}
.support3 {
  width: 81px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: none;
}
.bijoy-sarani-dhaka3,
.div10,
.exclusivegmailcom3 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.bijoy-sarani-dhaka3 {
  flex: 1;
}
.div10,
.exclusivegmailcom3 {
  width: 149px;
  display: none;
  white-space: nowrap;
}
.div10 {
  width: 165px;
}
.instagram-icon2,
.underline-line1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.instagram-icon2 {
  align-self: stretch;
  flex: 1;
  gap: 0 16px;
  font-size: var(--title-16px-regular-size);
}
.underline-line1 {
  height: 24px;
  width: 175px;
  gap: 0 24px;
}
.account6 {
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.my-account6 {
  position: relative;
  line-height: 24px;
}
.login-register6 {
  align-self: stretch;
  height: 24px;
  display: inline-block;
}
.cart7,
.login-register6,
.shop6,
.wishlist6 {
  position: relative;
  line-height: 24px;
}
.account-parent1,
.my-account-parent1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.my-account-parent1 {
  width: 123px;
  display: flex;
  gap: 16px 0;
  font-size: var(--title-16px-regular-size);
}
.account-parent1 {
  display: none;
  gap: 24px 0;
}
.quick-link6 {
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.privacy-policy6 {
  align-self: stretch;
  height: 24px;
  display: inline-block;
}
.contact10,
.faq6,
.privacy-policy6,
.terms-of-use6 {
  position: relative;
  line-height: 24px;
}
.privacy-policy-parent1,
.quick-link-parent1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policy-parent1 {
  width: 109px;
  display: flex;
  gap: 16px 0;
  font-size: var(--title-16px-regular-size);
}
.quick-link-parent1 {
  display: none;
  gap: 24px 0;
}
.download-app3,
.save-3-with3 {
  height: 28px;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
}
.save-3-with3 {
  height: 18px;
  line-height: 18px;
  opacity: 0.7;
}
.qr-code-icon3 {
  height: 80px;
  width: 80px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.appstore-icon3,
.googleplay-icon3 {
  align-self: stretch;
  height: 40px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.appstore-icon3 {
  object-fit: cover;
}
.googleplay-parent1,
.qr-code-parent1 {
  display: flex;
  justify-content: flex-start;
}
.googleplay-parent1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px 0;
}
.qr-code-parent1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
}
.download-app-parent1,
.save-3-with-app-new-user-only-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.save-3-with-app-new-user-only-parent1 {
  align-self: stretch;
  gap: 8px 0;
  font-size: var(--title-12px-medium-size);
}
.download-app-parent1 {
  width: 198px;
  gap: 24px 0;
}
.icon-facebook3,
.icon-instagram6,
.icon-linkedin3,
.icon-twitter3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.frame-parent4,
.icon-facebook-parent1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-facebook-parent1 {
  display: flex;
  flex-direction: row;
  gap: 0 24px;
}
.frame-parent4 {
  display: none;
  flex-direction: column;
  gap: 24px 0;
}
.logo3,
.subscribetext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.logo3 {
  width: 479px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.subscribetext {
  width: 749px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.underline-icon11 {
  height: 1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.icon-copyright3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.copyright-rimel-20223 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}
.icon-copyright-parent1,
.vector-line-inner {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.icon-copyright-parent1 {
  align-self: stretch;
  display: flex;
  gap: 0 6px;
}
.vector-line-inner {
  height: 24px;
  display: none;
  opacity: 0.6;
}
.footer3,
.vector-line1 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-line1 {
  width: 1460px;
  height: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  gap: 0 16px;
  opacity: 0.4;
  font-size: var(--title-16px-regular-size);
  color: var(--primary);
}
.footer3 {
  flex: 1;
  background-color: var(--button);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-61xl) 0 var(--padding-63xl);
  gap: 108px 0;
  font-size: var(--title-20px-medium-size);
}
.group-icon3,
.icon-instagram7,
.instagram-instance-icon {
  height: 22px;
  width: 26px;
  position: absolute;
  margin: 0 !important;
  bottom: 140px;
  left: 761.5px;
  z-index: 1;
}
.group-icon3,
.icon-instagram7 {
  height: 34px;
  width: 42px;
  bottom: 134px;
  left: 681.5px;
}
.icon-instagram7 {
  height: 39px;
  width: 36px;
  bottom: 129px;
  left: 619.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-12-icon2 {
  height: 43px;
  width: 35px;
  bottom: 129px;
  left: 557.5px;
  object-fit: cover;
}
.image-11-icon3,
.image-12-icon2,
.india-on-social3 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.india-on-social3 {
  bottom: 197px;
  left: 695.5px;
  line-height: 24px;
  color: var(--primary);
}
.image-11-icon3 {
  height: 14px;
  width: 14px;
  bottom: 201px;
  left: 677.5px;
  object-fit: cover;
}
.follow-bosky3 {
  bottom: 197px;
  left: 558.5px;
  line-height: 24px;
  color: var(--primary);
}
.account7,
.follow-bosky3,
.my-account7 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.account7 {
  top: 60px;
  right: 837.5px;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
}
.my-account7 {
  top: 112px;
  right: 828.5px;
  line-height: 24px;
}
.login-register7 {
  top: 152px;
  right: 799.5px;
}
.cart8,
.login-register7,
.wishlist7 {
  position: absolute;
  margin: 0 !important;
  line-height: 24px;
  z-index: 1;
}
.cart8 {
  top: 192px;
  right: 887.5px;
}
.wishlist7 {
  right: 861.5px;
  bottom: 202px;
}
.shop7 {
  right: 881.5px;
  bottom: 162px;
  line-height: 24px;
}
.privacy-policy7,
.quick-link7,
.shop7,
.terms-of-use7 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.quick-link7 {
  top: 59px;
  right: 496.5px;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
}
.privacy-policy7,
.terms-of-use7 {
  top: 111px;
  right: 488.5px;
  line-height: 24px;
}
.terms-of-use7 {
  top: 151px;
  right: 492.5px;
}
.faq7 {
  top: 191px;
  right: 565.5px;
}
.am-to-63,
.contact11,
.except-on-public3,
.faq7 {
  position: absolute;
  margin: 0 !important;
  line-height: 24px;
  z-index: 1;
}
.contact11 {
  right: 531.5px;
  bottom: 203px;
}
.am-to-63,
.except-on-public3 {
  top: 198px;
  left: 554.5px;
  color: var(--primary);
}
.am-to-63 {
  width: 217px;
  top: 154px;
  left: 539.5px;
  white-space: pre-wrap;
  display: inline-block;
}
.reach-out-to3 {
  top: 59px;
  left: 561.5px;
  font-size: var(--title-20px-medium-size);
  line-height: 28px;
  font-weight: 500;
}
.boskygmailcom3,
.image-10-icon4,
.reach-out-to3 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.image-10-icon4 {
  height: 29px;
  width: 35px;
  top: 75px;
  left: 227.5px;
  object-fit: cover;
}
.boskygmailcom3 {
  top: 112px;
  left: 558.5px;
  line-height: 24px;
  color: var(--primary);
  white-space: nowrap;
}
.desktop-4,
.shipping1 {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.shipping1 {
  margin-top: -71px;
  margin-bottom: -71px;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-12xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--text);
  font-family: var(--title-16px-regular);
}
.desktop-4 {
  width: 100%;
  background-color: var(--primary);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-25xl) 0 0 var(--padding-10xs);
  gap: 31px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .vector-vector {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .frame-d {
    padding-right: var(--padding-58xl);
    box-sizing: border-box;
  }
  .cart-total-price-label {
    gap: 40px 0;
  }
}
@media screen and (max-width: 900px) {
  .frame-d {
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .cart-section,
  .cart-section1 {
    padding-left: var(--padding-175xl);
    padding-right: var(--padding-175xl);
    box-sizing: border-box;
  }
  .cart-total-price-label {
    gap: 20px 0;
  }
  .cart-total-price-label-parent {
    gap: 18px 0;
  }
  .cart-main-section-group {
    gap: 24px 0;
  }
  .footer3 {
    gap: 54px 0;
  }
  .desktop-4 {
    gap: 15px 0;
  }
}
@media screen and (max-width: 450px) {
  .product-price {
    flex-wrap: wrap;
  }
  .cart-section,
  .cart-section1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .cart-total {
    font-size: var(--title-16px-regular-size);
    line-height: 22px;
  }
  .frameunderline1 {
    flex-wrap: wrap;
  }
  .cart-total1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .exclusive3 {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .subscribe3 {
    font-size: var(--title-16px-regular-size);
    line-height: 22px;
  }
  .frameexclusive {
    flex: 1;
  }
  .account6,
  .download-app3,
  .quick-link6,
  .support3 {
    font-size: var(--title-16px-regular-size);
    line-height: 22px;
  }
  .logo3 {
    flex-wrap: wrap;
  }
  .footer3 {
    gap: 27px 0;
    padding-top: var(--padding-33xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .account7,
  .quick-link7,
  .reach-out-to3 {
    font-size: var(--title-16px-regular-size);
    line-height: 22px;
  }
}
